In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
columns=[
    'orig_lat', 
    'orig_lng', 
    'dest_lat', 
    'dest_lng', 
    'weekday', 
    'partofday', 
    'origin', 
    'destination', 
    'distance', 
    'dist_value', 
    'duration', 
    'dur_value',
]

In [3]:
#data=pd.read_csv('commutes.csv', names=columns) # without names, 1st row was lost in data.columns=columns

In [4]:
data=pd.read_csv('commutes_1558047627.csv',names=columns)

In [5]:
print(data.shape)

(92, 12)

In [6]:
data.head()

,orig_lat,orig_lng,dest_lat,dest_lng,weekday,partofday,origin,destination,distance,dist_value,duration,dur_value
0,12.952297,77.57651,12.952297,77.576510,3,night,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,1 m,0,1 min,0
1,12.952297,77.57651,12.929233,77.564420,3,night,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,Indira Nursing Home 13th Cross Rd Siddanna L...,4.3 km,4298,30 mins,1778
2,12.952297,77.57651,12.924688,77.617845,3,night,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,Madiwala Ayyappa Temple Bus Stop Hosur Rd So...,17.9 km,17926,1 hour 30 mins,5411
3,12.952297,77.57651,12.936233,77.601617,3,night,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,Dairy Circle Bus Stop Bannerghatta-Marigowda ...,8.7 km,8711,1 hour 2 mins,3714
4,12.952297,77.57651,12.941099,77.579828,3,night,Sajjan Rao Circle Sajjan Rao Cir Parvathipur...,Southend Circle Rastriya Vidyalaya Road Jaya...,2.1 km,2051,27 mins,1606

In [7]:
data=data[[
    'orig_lat', 
    'orig_lng', 
    'dest_lat', 
    'dest_lng', 
    'weekday', 
    'partofday', 
    #'origin', 
    #'destination', 
    #'distance', 
    'dist_value', 
    #'duration', 
    'dur_value',
]]

In [8]:
data.head()

,orig_lat,orig_lng,dest_lat,dest_lng,weekday,partofday,dist_value,dur_value
0,12.952297,77.57651,12.952297,77.576510,3,night,0,0
1,12.952297,77.57651,12.929233,77.564420,3,night,4298,1778
2,12.952297,77.57651,12.924688,77.617845,3,night,17926,5411
3,12.952297,77.57651,12.936233,77.601617,3,night,8711,3714
4,12.952297,77.57651,12.941099,77.579828,3,night,2051,1606

In [9]:
data.head()

,orig_lat,orig_lng,dest_lat,dest_lng,weekday,partofday,dist_value,dur_value
0,12.952297,77.57651,12.952297,77.576510,2,early_morning,0,0
1,12.952297,77.57651,12.929233,77.564420,2,early_morning,3487,1018
2,12.952297,77.57651,12.924688,77.617845,2,early_morning,7824,1820
3,12.952297,77.57651,12.936233,77.601617,2,early_morning,4899,1223
4,12.952297,77.57651,12.941099,77.579828,2,early_morning,3112,1015

### Data Collection and Wrangling

1. Additional features WEEKDAY, TIMEOFDAY
2. One combination of origin and destination should also have cordinates - combining cordinates can become and id of a combination - can use finder to get a location's cordinate